
<!DOCTYPE html>
<html lang="en">
<head>
	<title>WebUni - Education Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="../../../assets/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">


</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>


	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img src="../../../assets/img/logo.png" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">

					<nav class="main-menu">
						<ul>
							<li><a welcome="/home">Home</a></li>
							<li><a welcome="/home">About Us</a></li>
							<li><a routerLink="/courses">Courses</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
  <section class="hero-section set-bg">
    <img  src="../../../assets/img/bg.jpg"  >
		<div class="container" >
			<div class="hero-text" >
				<h2 style="	color: #d82a4e;">Get The Best Free Online Courses</h2>
				<p style="color: white;"> Online Learning is a broad term that includes the practice of online education,
           <br> online learning is enabled by web technology that helps teachers and learners who are geographically
            distributed to interact with each other synchronously </p>

<!-- categories section -->
<section class="categories-section spad">
  <div class="container" style="margin-top: 200px;">
    <div class="section-title">
      <h2>Our Course Categories</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
    <div class="row">
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <img class="ci-thumb set-bg" src="../../../assets/img/categories/1.jpg">
          <div class="ci-text">
            <h5>IT Development</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>120 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <img class="ci-thumb set-bg" src="../../../assets/img/categories/2.jpg">
          <div class="ci-text">
            <h5>Web Developer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>70 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <img class="ci-thumb set-bg" src="../../../assets/img/categories/3.jpg">
          <div class="ci-text">
            <h5>ui & ux</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>55 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <img class="ci-thumb set-bg" src="../../../assets/img/categories/4.jpg">
          <div class="ci-text">
            <h5>Social Media</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>40 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <img class="ci-thumb set-bg" src="../../../assets/img/categories/5.jpg">
          <div class="ci-text">
            <h5>Photoshop</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>220 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <img class="ci-thumb set-bg" src="../../../assets/img/categories/6.jpg">
          <div class="ci-text">
            <h5> programing </h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>25 Courses</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- categories section end -->


	<!-- footer section -->
	<footer class="footer-section spad pb-0">
		<div class="footer-top">
			<div class="footer-warp">
				<div class="row">
					<div class="widget-item">
						<h4>Contact Info</h4>
						<ul class="contact-list">
							<li>1481 Creekside Lane <br>Avila Beach, CA 931</li>
							<li>+53 345 7953 32453</li>
							<li>yourmail@gmail.com</li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Engeneering</h4>
						<ul>
							<li><a href="">Applied Studies</a></li>
							<li><a href="">Computer Engeneering</a></li>
							<li><a href="">Software Engeneering</a></li>
							<li><a href="">Informational Engeneering</a></li>
							<li><a href="">System Engeneering</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Graphic Design</h4>
						<ul>
							<li><a href="">Applied Studies</a></li>
							<li><a href="">Computer Engeneering</a></li>
							<li><a href="">Software Engeneering</a></li>
							<li><a href="">Informational Engeneering</a></li>
							<li><a href="">System Engeneering</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Development</h4>
						<ul>
							<li><a href="">Applied Studies</a></li>
							<li><a href="">Computer Engeneering</a></li>
							<li><a href="">Software Engeneering</a></li>
							<li><a href="">Informational Engeneering</a></li>
							<li><a href="">System Engeneering</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Newsletter</h4>
						<form class="footer-newslatter">
							<input type="email" placeholder="E-mail">
							<button class="site-btn">Subscribe</button>
							<p>*We don’t spam</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-warp">
				<ul class="footer-menu">
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
				<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
			</div>
		</div>
	</footer>
	<!-- footer section end -->
