<div class="container-xl px-4 mt-4">
 <!-- Account page navigation-->
 <nav class="nav nav-borders" style="margin-top: 90px; margin-bottom: 5px;">
  <button class="btn btn-dark" (click)="showDiv('profile')">Profile</button>
  <button class="btn btn-dark" style="margin-left: 10px; margin-right: 10px;" (click)="showDiv('mycourses')">My Courses</button>
  <button class="btn btn-dark" (click)="showDiv('cert')">My Certificates</button>
 </nav>
 <hr class="mt-0 mb-4">
 <div class="row" *ngIf="displayedDiv == 'profile'">
  <div class="col-xl-4" style="height: 163px;">
   <!-- Profile picture card-->
   <div class="card mb-4 mb-xl-0">
    <div class="card-header">Profile Picture</div>
    <div class="card-body text-center">
     <!-- Profile picture image-->
     <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png"
      alt="">
    </div>
   </div>
  </div>
  <div class="col-xl-8">
   <!-- Account details card-->
   <div class="card mb-4">
    <div class="card-header">Account Details</div>
    <div class="card-body">
     <form>
      <div class="row gx-3 mb-3">
       <!-- Form Group (first name)-->
       <div class="col-md-6">
        <label class="small mb-1" for="inputFirstName"></label>
        <input readonly class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name"
         value={{tokenInfo.firstName}}>
       </div>
       <!-- Form Group (last name)-->
       <div class="col-md-6">
        <label class="small mb-1" for="inputLastName"></label>
        <input readonly class="form-control" id="inputLastName" type="text" placeholder="Enter your last name"
         value={{tokenInfo.lastName}}>
       </div>
      </div>
      <div class="mb-3">
       <label class="small mb-1" for="inputEmailAddress">Email address</label>
       <input readonly class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address"
        value={{tokenInfo.email[0]}}>
      </div>
      <!-- Form Row-->
      <div class="row gx-3 mb-3">
       <!-- Form Group (phone number)-->
       <div class="col-md-6">
        <label class="small mb-1" for="inputPhone">Username</label>
        <input readonly class="form-control" id="inputPhone" type="tel" placeholder="Enter your username"
         value={{tokenInfo.userName}}>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>

 <div class="row" *ngIf="displayedDiv == 'mycourses'">
  <!-- categorie -->
  <div class="col-lg-4 col-md-6" *ngFor="let item of items | paginate:{ itemsPerPage: 6, currentPage: p }">
   <div class="categorie-item">
    <img class="ci-thumb set-bg" src="../../../assets/img/categories/1.jpg">
    <div class="ci-text">
     <h5>Title: {{item.crsTitle}}</h5>
     <p>Description: {{item.crsDesc|slice:0:30}}</p>
     <span> <a> <input [routerLink]="['vid/',item.crsId]"type="button" value="Watch Content"
        class="btn btn-dark"></a></span>
    </div>
   </div>
  </div>
  <pagination-controls *ngIf="displayedDiv == 'mycourses'" (pageChange)="p = $event" class="float-right"
    style="text-align:center; font-size:20px;">
  </pagination-controls>
 </div>
